/* [data-md-color-scheme="2021color"] {
  --md-primary-fg-color:        #91A88C;
  --md-primary-fg-color--light: #91A88C;
  --md-primary-fg-color--dark:  #91A88C;

}
 */
:root {
  --md-primary-fg-color:        #91A88C;
  --md-primary-fg-color--light: #91A88C;
  --md-primary-fg-color--dark:  #91A88C;
}
